<bonc-admin-controls #controls
                     [deviceControls]="true"
                     [editableGroup]="siteDataEditorGroup">
</bonc-admin-controls>

<bonc-editable-group #siteDataEditorGroup (saved)="save()" class="page-editor">

  <section *ngFor="let group of settingGroups">
    <h2>{{group.title}}</h2>

    <ng-container *ngFor="let record of group.records">

      <ng-container [ngSwitch]="record.data.type">

        <!-- text -->
        <bonc-text-form *ngSwitchCase="'marcy-text'"
                        [(ngModel)]="record.data.text"
                        [label]="record.title"
                        [locale]="controls.locale"
                        [type]="TextInputStyle.SingleLine"
                        class="form-item email">...</bonc-text-form>

        <!-- translation -->
        <bonc-translation-form *ngSwitchCase="'marcy-localized-text'"
                               [(ngModel)]="record.data.text"
                               [label]="record.title"
                               [field]="record.data.type === TextSettingType.SingleLine ? TextEditorField.Input : TextEditorField.Textarea"
                               [locale]="controls.locale">
        </bonc-translation-form>

        <!-- svg -->
        <bonc-svg-form *ngSwitchCase="'marcy-svg'"
                       [(ngModel)]="record.data.src"
                       [label]="record.title"
                       [locale]="controls.locale">
        </bonc-svg-form>


        <!-- unknown -->
        <bonc-unknown-form *ngSwitchDefault boncEditable [label]="record.data.type + ' (' + record.title + ')'">
          <pre>{{record.data | json}}</pre>
        </bonc-unknown-form>

      </ng-container>

    </ng-container>


  </section>

</bonc-editable-group>
