<div *ngIf="!signedIn; else signedInAlready">
  <div>
    Please Sign In to continue. New user?
    <a routerLink="/register">Register now</a>.
  </div>
  <form [formGroup]="loginForm" (submit)="signIn($event)">
    <div>
      <label for="name">Email*</label>
      <input class="col form-field" name="email" formControlName="email" />
    </div>
    <div>
      <label for="password">Password*</label>
      <input
        class="col form-field"
        type="password"
        name="password"
        formControlName="password"
        autocomplete="on"
      />
    </div>
    <div *ngIf="authFailed">
      <label style="color: red">Invalid credentials</label>
    </div>
    <div>
      <button [disabled]="!loginForm.valid" type="submit">Sign In</button>
    </div>
  </form>
</div>

<ng-template #signedInAlready>
  <h4>Sign In</h4>
  <div>You are already signed in!</div>
</ng-template>
