<label>Title</label>
<bonc-translation-input [text]="bone().title"
                        [device]="device()"
                        [locale]="locale()"
                        (startEditing)="startEditing()"
                        (changed)="markAsDirty()"
                        (blurred)="updateDirty()"
                        class="title">
</bonc-translation-input>

<!-- todo: create selector for pages -->
<label>Data Route (Page address)</label>
<div class="input-container">
  <input [(ngModel)]="bone().dataRoute"
         (click)="startEditing()"
         (keyup)="markAsDirty()"
         (blur)="updateDirty()" />
</div>
