@use '../../../variables.scss'as v;

:host {
  display: block;
}

:host.main-nav {

  nav {
    @include v.menuFont;

    position: fixed;
    // top: 20px;
    // left: 20px;
    width: 100%;
    // height: 66px;
    padding: 10px 30px;
    // border-radius: 40px;
    background-color: rgba(#f4b9b2, 0.2);
    background-color: black;
    // backdrop-filter: blur(20px);
    z-index: 1;
    user-select: none;

    ul {
      display: flex;
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
      }

      li+li {
        margin-left: 10px;
      }
    }

    a {
      display: block;
      color: darkgray;
      // color: v.$accentColor;
      text-decoration: none;


      &:hover {
        color: v.$accentActiveColor;
      }
    }
  }
}